.bg-purple{
    background-color: #6f42c1;
}
.bg-pink{
    background-color: #e83e8c;
}
.bg-red{
    background-color: #dc3545;
}
.bg-orange{
    background-color: #fd7e14;
}
.bg-yellow{
    background-color: #ffc107;
}
.bg-green{
    background-color: #28a745;
}
.bg-teal{
    background-color: #20c997;
}
.bg-cyan {
    background-color: #17a2b8;
}
